body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Onest', sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  background-image: url('assets/svg/curve.svg'), url('assets/svg/lines.svg');
  background-position: top right 100px;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.logo {
  margin-top: 30px;
}

.tooltip-text {
  visibility: hidden;
  background-color: #ff5100;
  color: #fff;
  text-align: center;
  border-radius: 39px;
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  top: 115%;
  left: 72%;
  margin-left: -45px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  font-size: 16px;
  font-family: Onest;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tooltip-text:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 20%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ff5100 transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

nav {
  margin-right: auto;
  margin-left: 50px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 58px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  transition: border 0.3s, color 0.3s;
  border: 2px solid transparent;
  border-radius: 33px;
  padding: 17px;
  font-family: Onest;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

nav a:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
}

.active-item {
  color: #ffffff;
  border: 2px solid #ffffff;
}

.inactive-item {
  color: #7A746F;
}

.welcome-text {
  font-family: 'Onest', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-left: 215px;
  margin-top: 120px;
  text-align: left;
}

.hello-text {
  color: #FF5100;
  display: inline-block;
  transition: opacity 0.5s ease; /* Added transition for opacity */
  opacity: 1; /* Initial opacity */
}

.additional-text {
  color: #fcfcfc;
  font-family: 'Onest', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: -20px;
}


@media screen and (max-width: 600px) {
  .logo {
    margin-left: 20px;
    width: auto;
    height: auto;
  }

  body {
    margin-left: 20px;
    margin-right: 20px;
  }

  header {
    padding: 10px;
  }

  nav {
    margin-left: 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
