/* Global styles */
body {
  background-color: #000000;
  font-family: 'Onest', sans-serif;
  background-image: url('assets/svg/background.svg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.logo {
  margin-top: 30px;
  margin-left: 150px;
}

.tooltip-text {
  visibility: hidden;
  background-color: #ff5100;
  color: #E9E8E4;
  text-align: center;
  border-radius: 39px;
  padding: 18px;
  position: absolute;
  top: 115%;
  left: 85%;
  margin-left: -45px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  font-size: 16px;
  font-family: Onest;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 1;
}

.tooltip-text:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 20%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #FF5301 transparent;
  z-index: 1;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

nav {
  margin-right: auto;
  margin-left: 50px;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 80px;
}

nav a {
  text-decoration: none;
  color: #E9E8E4;
  transition: border 0.3s, color 0.3s;
  border: 2px solid transparent;
  border-radius: 33px;
  padding: 17px;
  font-family: Onest;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

nav a:hover {
  color: #E9E8E4;
  border: 2px solid #E9E8E4;
}

.active-item {
  color: #E9E8E4;
  border: 2px solid #E9E8E4;
}

.inactive-item {
  color: #434343;
}

/* Welcome text styles */
.welcome-text {
  color: #E9E8E4;
  font-family: 'Onest', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-left: 365px;
  margin-top: 6vw;
  text-align: left;
  margin-bottom: 15vh;
}

.hello-text {
  color: #FF5301;
  display: inline-block;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.welcome-head-text {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.additional-text {
  color: #E9E8E4;
  font-family: 'Onest', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: -20px;
}

/* Down icon and tooltip styles */
.down-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.down-icon {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 10px;
  transition: border 0.3s;
  z-index: 1;
}

.down-icon:hover {
  border: 2px solid #FF5301;
  padding: 10px;
}



.tooltip-container-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tooltip-text-down {
  visibility: hidden;
  background-color: #ff5100;
  color: #E9E8E4;
  text-align: center;
  border-radius: 39px;
  padding: 18px;
  position: absolute;
  bottom: 120%; /* Adjusted from 130% to 100% */
  left: 50%;
  transform: translateX(-50%); /* Adjusted from margin-left */
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  font-size: 16px;
  font-family: Onest;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 1;
}

.tooltip-text-down:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #ff5100 transparent transparent transparent; /* Change the order of colors */
}

.tooltip-container-down:hover .tooltip-text-down {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}


/* Shine animation styles */
.shine {
  position: fixed;
  width: 290px;
  height: 290px;
  background-image: url('assets/svg/shine.svg');
  background-size: cover;
  pointer-events: none;
  opacity: 0;
  animation: fadeInOut 2s forwards;
  mix-blend-mode: color-dodge;
}